<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert_school</h1>


        <form method="POST">
            {% csrf_token %}

            <label for="scn">ScName</label>
            <input type="text" name="scn" id="scn"><br><br>

            <label for="sp">ScPrincipal</label>
            <input type="text" name="sp" id="sp"><br><br>

            <label for="sl">ScLocation</label>
            <input type="text" name="sl" id="sl"><br><br>

            <input type="submit" value="insert_school">
            
        </form>
    </center>
</body>
</html>